﻿/******************************************************************************/
/* NOTE: This file is being integrated into PolyLanguages.edu, Edit with Caution */
/******************************************************************************/

/* Agencies Utils: Notification */
.Agencies-nWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100px;
    margin-top: -50px;
    margin-left: -320px;
    padding: 0 30px;
    line-height: 100px;
    z-index: 1000001;
    display: none;
    background: rgba(0%,60%,0%,.7);
    color: #fff;
}

.Agencies-nContainer {
    margin: auto;
    position: relative;
}

.Agencies-nDefaultClose {
    position: absolute;
    top: 44px;
    right: 8px;
    height: 16px;
    width: 16px;
    background: url('../images/icon-close-white.png') no-repeat;
    background-size: 16px 16px;
}

    .Agencies-nDefaultClose a {
        display: block;
        width: 16px;
        height: 16px;
        text-indent: -10000px;
    }

.Agencies-nContent {
    width: 100%;
    overflow: auto;
    text-align: left;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.7em;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background: url('../images/success-icon.png') no-repeat 0 50%;
    padding-left: 50px;
}
