@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/*========================================================
                      Contact Form
=========================================================*/
/* MF
========================================================*/
.mailform {
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.mailform fieldset {
  border: none;
  line-height: 0;
}
.mailform * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mailform label {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
}
.mailform label.textarea {
  width: 100%;
  margin-left: 0;
}
.mailform label:first-child {
  margin-top: 0;
}
.mailform label input,
.mailform label select,
.mailform label textarea {
  display: block;
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 10px 20px 10px 15px;
  line-height: 24px;
  color: #bfbfbf;
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  font-weight: 300;
  height: 47px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.mailform label input:-moz-placeholder,
.mailform label select:-moz-placeholder,
.mailform label textarea:-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
.mailform label input::-webkit-input-placeholder,
.mailform label select::-webkit-input-placeholder,
.mailform label textarea::-webkit-input-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
.mailform label input::-moz-placeholder,
.mailform label select::-moz-placeholder,
.mailform label textarea::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
.mailform label input:-ms-input-placeholder,
.mailform label select:-ms-input-placeholder,
.mailform label textarea:-ms-input-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
.mailform label textarea {
  resize: none;
  overflow: auto;
  height: 408px;
  margin-top: 51px;
}
@media (max-width: 1365px) {
  .mailform label {
    margin-top: 30px;
  }
}
@-ms-keyframes fout {
  0% {
    -moz-transform: scale(1) translateX(0);
    -ms-transform: scale(1) translateX(0);
    -o-transform: scale(1) translateX(0);
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
  }
  100% {
    -moz-transform: scale(0) translateX(0);
    -ms-transform: scale(0) translateX(0);
    -o-transform: scale(0) translateX(0);
    -webkit-transform: scale(0) translateX(0);
    transform: scale(0) translateX(0);
  }
}
@-o-keyframes fout {
  0% {
    -moz-transform: scale(1) translateX(0);
    -ms-transform: scale(1) translateX(0);
    -o-transform: scale(1) translateX(0);
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
  }
  100% {
    -moz-transform: scale(0) translateX(0);
    -ms-transform: scale(0) translateX(0);
    -o-transform: scale(0) translateX(0);
    -webkit-transform: scale(0) translateX(0);
    transform: scale(0) translateX(0);
  }
}
@-webkit-keyframes fout {
  0% {
    -moz-transform: scale(1) translateX(0);
    -ms-transform: scale(1) translateX(0);
    -o-transform: scale(1) translateX(0);
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
  }
  100% {
    -moz-transform: scale(0) translateX(0);
    -ms-transform: scale(0) translateX(0);
    -o-transform: scale(0) translateX(0);
    -webkit-transform: scale(0) translateX(0);
    transform: scale(0) translateX(0);
  }
}
@-moz-keyframes fout {
  0% {
    -moz-transform: scale(1) translateX(0);
    -ms-transform: scale(1) translateX(0);
    -o-transform: scale(1) translateX(0);
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
  }
  100% {
    -moz-transform: scale(0) translateX(0);
    -ms-transform: scale(0) translateX(0);
    -o-transform: scale(0) translateX(0);
    -webkit-transform: scale(0) translateX(0);
    transform: scale(0) translateX(0);
  }
}
@keyframes fout {
  0% {
    -moz-transform: scale(1) translateX(0);
    -ms-transform: scale(1) translateX(0);
    -o-transform: scale(1) translateX(0);
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
  }
  100% {
    -moz-transform: scale(0) translateX(0);
    -ms-transform: scale(0) translateX(0);
    -o-transform: scale(0) translateX(0);
    -webkit-transform: scale(0) translateX(0);
    transform: scale(0) translateX(0);
  }
}
@-webkit-keyframes anim-1 {
  0% {
    left: 50%;
  }
  100% {
    left: 90%;
  }
}
@-webkit-keyframes anim-2 {
  0% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  25% {
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  50% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  75% {
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}
@-webkit-keyframes anim-3 {
  0% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 50%;
  }
  50% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 90%;
  }
  100% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 50%;
  }
}
@-webkit-keyframes zoom-out {
  0% {
    -moz-transform: scale(1) rotate(-35deg);
    -ms-transform: scale(1) rotate(-35deg);
    -o-transform: scale(1) rotate(-35deg);
    -webkit-transform: scale(1) rotate(-35deg);
    transform: scale(1) rotate(-35deg);
  }
  100% {
    -moz-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    -webkit-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
  }
}
@-webkit-keyframes zoom-in-state-1 {
  0% {
    -moz-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    -webkit-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
  }
  100% {
    -moz-transform: scale(1) rotate(-35deg);
    -ms-transform: scale(1) rotate(-35deg);
    -o-transform: scale(1) rotate(-35deg);
    -webkit-transform: scale(1) rotate(-35deg);
    transform: scale(1) rotate(-35deg);
  }
}
@-webkit-keyframes zoom-in-state-2 {
  0% {
    -moz-transform: scale(0) rotate(-35deg);
    -ms-transform: scale(0) rotate(-35deg);
    -o-transform: scale(0) rotate(-35deg);
    -webkit-transform: scale(0) rotate(-35deg);
    transform: scale(0) rotate(-35deg);
  }
  100% {
    left: 50%;
    -moz-transform: scale(1) rotate(150deg);
    -ms-transform: scale(1) rotate(150deg);
    -o-transform: scale(1) rotate(150deg);
    -webkit-transform: scale(1) rotate(150deg);
    transform: scale(1) rotate(150deg);
  }
}
@-webkit-keyframes line {
  0% {
    left: 40%;
  }
  100% {
    left: 40%;
    width: 40%;
  }
}
@-moz-keyframes anim-1 {
  0% {
    left: 50%;
  }
  100% {
    left: 90%;
  }
}
@-moz-keyframes anim-2 {
  0% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  25% {
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  50% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  75% {
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}
@-moz-keyframes anim-3 {
  0% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 50%;
  }
  50% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 90%;
  }
  100% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 50%;
  }
}
@-moz-keyframes zoom-out {
  0% {
    -moz-transform: scale(1) rotate(-35deg);
    -ms-transform: scale(1) rotate(-35deg);
    -o-transform: scale(1) rotate(-35deg);
    -webkit-transform: scale(1) rotate(-35deg);
    transform: scale(1) rotate(-35deg);
  }
  100% {
    -moz-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    -webkit-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
  }
}
@-moz-keyframes zoom-in-state-1 {
  0% {
    -moz-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    -webkit-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
  }
  100% {
    -moz-transform: scale(1) rotate(-35deg);
    -ms-transform: scale(1) rotate(-35deg);
    -o-transform: scale(1) rotate(-35deg);
    -webkit-transform: scale(1) rotate(-35deg);
    transform: scale(1) rotate(-35deg);
  }
}
@-moz-keyframes zoom-in-state-2 {
  0% {
    -moz-transform: scale(0) rotate(-35deg);
    -ms-transform: scale(0) rotate(-35deg);
    -o-transform: scale(0) rotate(-35deg);
    -webkit-transform: scale(0) rotate(-35deg);
    transform: scale(0) rotate(-35deg);
  }
  100% {
    left: 50%;
    -moz-transform: scale(1) rotate(150deg);
    -ms-transform: scale(1) rotate(150deg);
    -o-transform: scale(1) rotate(150deg);
    -webkit-transform: scale(1) rotate(150deg);
    transform: scale(1) rotate(150deg);
  }
}
@-moz-keyframes line {
  0% {
    left: 40%;
  }
  100% {
    left: 40%;
    width: 40%;
  }
}
@-o-keyframes anim-1 {
  0% {
    left: 50%;
  }
  100% {
    left: 90%;
  }
}
@-o-keyframes anim-2 {
  0% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  25% {
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  50% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  75% {
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}
@-o-keyframes anim-3 {
  0% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 50%;
  }
  50% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 90%;
  }
  100% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 50%;
  }
}
@-o-keyframes zoom-out {
  0% {
    -moz-transform: scale(1) rotate(-35deg);
    -ms-transform: scale(1) rotate(-35deg);
    -o-transform: scale(1) rotate(-35deg);
    -webkit-transform: scale(1) rotate(-35deg);
    transform: scale(1) rotate(-35deg);
  }
  100% {
    -moz-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    -webkit-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
  }
}
@-o-keyframes zoom-in-state-1 {
  0% {
    -moz-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    -webkit-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
  }
  100% {
    -moz-transform: scale(1) rotate(-35deg);
    -ms-transform: scale(1) rotate(-35deg);
    -o-transform: scale(1) rotate(-35deg);
    -webkit-transform: scale(1) rotate(-35deg);
    transform: scale(1) rotate(-35deg);
  }
}
@-o-keyframes zoom-in-state-2 {
  0% {
    -moz-transform: scale(0) rotate(-35deg);
    -ms-transform: scale(0) rotate(-35deg);
    -o-transform: scale(0) rotate(-35deg);
    -webkit-transform: scale(0) rotate(-35deg);
    transform: scale(0) rotate(-35deg);
  }
  100% {
    left: 50%;
    -moz-transform: scale(1) rotate(150deg);
    -ms-transform: scale(1) rotate(150deg);
    -o-transform: scale(1) rotate(150deg);
    -webkit-transform: scale(1) rotate(150deg);
    transform: scale(1) rotate(150deg);
  }
}
@-o-keyframes line {
  0% {
    left: 40%;
  }
  100% {
    left: 40%;
    width: 40%;
  }
}
@keyframes anim-1 {
  0% {
    left: 50%;
  }
  100% {
    left: 90%;
  }
}
@keyframes anim-2 {
  0% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  25% {
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  50% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  75% {
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}
@keyframes anim-3 {
  0% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 50%;
  }
  50% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 90%;
  }
  100% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 50%;
  }
}
@keyframes zoom-out {
  0% {
    -moz-transform: scale(1) rotate(-35deg);
    -ms-transform: scale(1) rotate(-35deg);
    -o-transform: scale(1) rotate(-35deg);
    -webkit-transform: scale(1) rotate(-35deg);
    transform: scale(1) rotate(-35deg);
  }
  100% {
    -moz-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    -webkit-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
  }
}
@keyframes zoom-in-state-1 {
  0% {
    -moz-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    -webkit-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
  }
  100% {
    -moz-transform: scale(1) rotate(-35deg);
    -ms-transform: scale(1) rotate(-35deg);
    -o-transform: scale(1) rotate(-35deg);
    -webkit-transform: scale(1) rotate(-35deg);
    transform: scale(1) rotate(-35deg);
  }
}
@keyframes zoom-in-state-2 {
  0% {
    -moz-transform: scale(0) rotate(-35deg);
    -ms-transform: scale(0) rotate(-35deg);
    -o-transform: scale(0) rotate(-35deg);
    -webkit-transform: scale(0) rotate(-35deg);
    transform: scale(0) rotate(-35deg);
  }
  100% {
    left: 50%;
    -moz-transform: scale(1) rotate(150deg);
    -ms-transform: scale(1) rotate(150deg);
    -o-transform: scale(1) rotate(150deg);
    -webkit-transform: scale(1) rotate(150deg);
    transform: scale(1) rotate(150deg);
  }
}
@keyframes line {
  0% {
    left: 40%;
  }
  100% {
    left: 40%;
    width: 40%;
  }
}
@-ms-keyframes anim-1 {
  0% {
    left: 50%;
  }
  100% {
    left: 90%;
  }
}
@-ms-keyframes anim-2 {
  0% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  25% {
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  50% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  75% {
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}
@-ms-keyframes anim-3 {
  0% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 50%;
  }
  50% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 90%;
  }
  100% {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    left: 50%;
  }
}
@-ms-keyframes zoom-out {
  0% {
    -moz-transform: scale(1) rotate(-35deg);
    -ms-transform: scale(1) rotate(-35deg);
    -o-transform: scale(1) rotate(-35deg);
    -webkit-transform: scale(1) rotate(-35deg);
    transform: scale(1) rotate(-35deg);
  }
  100% {
    -moz-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    -webkit-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
  }
}
@-ms-keyframes zoom-in-state-1 {
  0% {
    -moz-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    -webkit-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
  }
  100% {
    -moz-transform: scale(1) rotate(-35deg);
    -ms-transform: scale(1) rotate(-35deg);
    -o-transform: scale(1) rotate(-35deg);
    -webkit-transform: scale(1) rotate(-35deg);
    transform: scale(1) rotate(-35deg);
  }
}
@-ms-keyframes zoom-in-state-2 {
  0% {
    -moz-transform: scale(0) rotate(-35deg);
    -ms-transform: scale(0) rotate(-35deg);
    -o-transform: scale(0) rotate(-35deg);
    -webkit-transform: scale(0) rotate(-35deg);
    transform: scale(0) rotate(-35deg);
  }
  100% {
    left: 50%;
    -moz-transform: scale(1) rotate(150deg);
    -ms-transform: scale(1) rotate(150deg);
    -o-transform: scale(1) rotate(150deg);
    -webkit-transform: scale(1) rotate(150deg);
    transform: scale(1) rotate(150deg);
  }
}
@-ms-keyframes line {
  0% {
    left: 40%;
  }
  100% {
    left: 40%;
    width: 40%;
  }
}
/* Mail Form PlaceHolder
========================================================*/
.mfPlaceHolder {
  font: inherit;
  cursor: text;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 300;
  padding: 10px 20px 10px 15px;
  line-height: 24px;
  color: #bfbfbf;
  opacity: 1;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
*:-webkit-autofill ~ .mfPlaceHolder {
  opacity: .8;
  -moz-transform: translateY(-30%) scale(0.8);
  -ms-transform: translateY(-30%) scale(0.8);
  -o-transform: translateY(-30%) scale(0.8);
  -webkit-transform: translateY(-30%) scale(0.8);
  transform: translateY(-30%) scale(0.8);
}
.mfPlaceHolder.state-1 {
  opacity: .8;
  -moz-transform: translateY(-30%) scale(0.8);
  -ms-transform: translateY(-30%) scale(0.8);
  -o-transform: translateY(-30%) scale(0.8);
  -webkit-transform: translateY(-30%) scale(0.8);
  transform: translateY(-30%) scale(0.8);
}
label.textarea .mfPlaceHolder {
  top: 50px;
}
/* Mail Form Validation
  ========================================================*/
.mfValidation {
  -o-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  margin-top: -20px;
  margin-left: 10px;
  font-weight: 300;
  font-size: 12px;
  background: #111;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 998;
  line-height: 12px;
  height: 20px;
  padding: 3px 7px;
  right: 0;
  top: 0;
  width: 167px;
}
.mfValidation:hover {
  background: #231634;
}
.mfValidation:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 5px 4px 0;
  border-color: transparent #111111 transparent transparent;
  top: 14px;
  border-width: 6px 12px 6px 0;
  right: 161px;
  top: 12px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mfValidation:hover:before {
  border-left-color: #231634;
}
.mfValidation.show {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.mfValidation.hide {
  -webkit-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.mfValidation.valid {
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 767px) {
  .mfValidation {
    text-align: right;
    top: 2px;
    left: auto;
    bottom: 100%;
    right: 10px;
    background: none;
    padding: 0;
    margin: 0 0 3px;
    min-height: 0;
    color: #FF0000;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .mfValidation:before {
    display: none;
  }
  .mfValidation:hover {
    background: none;
  }
}
label.textarea .mfValidation {
  top: 53px;
}
@keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-ms-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-ms-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-webkit-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-o-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-moz-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.rd-progress {
  background: #111;
  color: #fff;
}
/* MF Controls
========================================================*/
.mfControls {
  margin-top: 60px;
  word-spacing: 10px;
  text-align: left;
}
@media (max-width: 1300px) {
  .mfControls {
    text-align: center;
  }
}
.mfControls > * {
  word-spacing: normal;
  margin-bottom: 5px;
}
.mfControls button {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  display: inline-block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
/* Mail Form Submit
========================================================*/
.mfProgress {
  position: relative;
}
.mfProgress .loader {
  -moz-transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  opacity: 0;
  text-align: center;
  letter-spacing: 10px;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.mfProgress .loader,
.mfProgress .loader:before,
.mfProgress .loader:after {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
}
.mfProgress .loader:before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}
.mfProgress .loader:after {
  content: '';
  width: 30px;
  height: 30px;
  color: #fff;
  font: 400 30px 'material-design';
  line-height: inherit;
  -moz-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  -moz-transform: scale(0) rotate(-60deg);
  -ms-transform: scale(0) rotate(-60deg);
  -o-transform: scale(0) rotate(-60deg);
  -webkit-transform: scale(0) rotate(-60deg);
  transform: scale(0) rotate(-60deg);
}
.mfProgress.sending .cnt,
.mfProgress.fail .cnt,
.mfProgress.success .cnt {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0;
}
.mfProgress.sending .loader,
.mfProgress.fail .loader,
.mfProgress.success .loader {
  opacity: 0;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.mfProgress.fail .loader:before,
.mfProgress.success .loader:before {
  -webkit-animation: fout .4s ease-in-out 1 forwards;
  -o-animation: fout .4s ease-in-out 1 forwards;
  animation: fout .4s ease-in-out 1 forwards;
}
.mfProgress.fail .loader:after,
.mfProgress.success .loader:after {
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}
.mfProgress.sending .loader:before {
  -webkit-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  -o-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
.mfProgress.fail .loader:after {
  content: '\e03b';
}
.mfProgress.success .loader:after {
  content: '\e04b';
}
.mfProgress {
  text-align: center;
}
.mfProgress .msg {
  -o-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-animation: notifanim-fo .4s ease-in-out forwards;
  -o-animation: notifanim-fo .4s ease-in-out forwards;
  animation: notifanim-fo .4s ease-in-out forwards;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 10px;
  border-radius: 0;
  font-size: 14px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  left: 50%;
  width: 230px;
  margin-left: -115px;
  text-align: center;
  margin-top: 10px;
  -o-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  background: #111;
  color: #fff;
}
.mfProgress .msg:before {
  text-align: center;
  content: '';
  position: absolute;
  bottom: 100%;
  right: 50%;
  transform: translate(50%, 0%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #111111 transparent;
  -moz-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.mfProgress.fail .msg,
.mfProgress.success .msg {
  text-align: center;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-animation: notifanim .4s ease-in-out forwards;
  -o-animation: notifanim .4s ease-in-out forwards;
  animation: notifanim .4s ease-in-out forwards;
}
.mfProgress.fail .msg {
  text-align: center;
  background: #F44336;
}
.mfProgress.fail .msg:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #f44336 transparent;
}
.mfProgress.success .msg {
  text-align: center;
  background: #2E7D32;
}
.mfProgress.success .msg:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #2e7d32 transparent;
}
@-ms-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-o-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-webkit-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-moz-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
