﻿@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import "animate.css";
/*========================================================
                      Main Styles
=========================================================*/
a[href^=tel] {
	color: inherit;
	text-decoration: none;
}

header, footer, hgroup,
nav, section {
	display: block;
}

.badge {
	background: none;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

@media (max-width: 991px) {
	.clearboth {
		clear: both;
	}
}

.mg-add {
	margin-top: -140px;
}

@media (max-width: 1199px) {
	.mg-add {
		margin-top: 20px;
	}
}

.mg-add2 {
	margin-top: 40px;
}

.fz__mod {
	font-size: 14px;
}

.mod {
	position: relative;
}

	.mod:before {
		content: "";
		position: absolute;
		left: -30px;
		top: 0px;
		bottom: 0;
		right: 0;
		background: #f6f6f6;
		z-index: -1;
	}

@media (max-width: 1199px) {
	.mod:before {
		left: -15px;
	}
}

@media (max-width: 992px) {
	.mod:before {
		display: none;
	}
}

@media (max-width: 1199px) {
	.mod2,
	.mod {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}

* + .row {
	margin-top: 30px;
}

.row + * {
	margin-top: 30px;
}

.row + .row {
	margin-top: 30px;
}

* + p {
	margin-top: 20px;
}

* + .btn-sm {
	margin-top: 50px;
}

* + h4 {
	margin-top: 36px;
}

* + .offs {
	margin-top: 54px;
}

p + .offs {
	margin-top: 55px;
}

* + .offs2 {
	margin-top: 46px;
}

.row + .offs3 {
	margin-top: 63px;
}

p.h5 + h4 {
	margin-top: 10px;
}

.row + .offs4 {
	margin-top: 50px;
}

img + .offs {
	margin-top: 60px;
}

h3 + .offs {
	margin-top: 20px;
}
/*=======================================================
                        Components
=========================================================*/
/*==================      Box      ======================*/
.box:before,
.box:after {
	content: " ";
	display: table;
}

.box:after {
	clear: both;
}

.box:before,
.box:after {
	content: " ";
	display: table;
}

.box:after {
	clear: both;
}

.box_aside {
	float: left;
}

	.box_aside img {
		margin-right: 30px;
	}

.box_cnt__no-flow {
	overflow: hidden;
}

@media (max-width: 479px) {
	.box_aside {
		float: none;
		text-align: center;
	}
}
/*==================       Icon      ====================*/
.fa-ban,
.fa-cogs,
.fa-group,
.fa-check-circle,
.fa-bar-chart,
.fa-line-chart,
.fa-cloud,
.fa-cubes,
.fa-leaf,
.fa-usd,
.fa-arrow-up {
	display: inline-block;
	width: 79px;
	height: 79px;
	background: #24659A;
	position: relative;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-moz-transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}

	.fa-ban:before,
	.fa-cogs:before,
	.fa-group:before,
	.fa-check-circle:before,
	.fa-bar-chart:before,
	.fa-line-chart:before,
	.fa-cloud:before,
	.fa-cubes:before,
	.fa-leaf:before,
	.fa-usd:before,
	.fa-arrow-up:before {
		line-height: 79px;
		color: #fff;
		position: relative;
		z-index: 2;
	}

.fa-ban {
	position: relative;
}

	.fa-ban:before {
		font-size: 58px;
	}

	.fa-ban:after {
		position: absolute;
		top: 50%;
		left: 50%;
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		content: '\f155';
		font-size: 30px;
		line-height: 109px;
		color: #d0e1af;
		z-index: 1;
	}

.fa-cogs:before,
.fa-group:before,
.fa-check-circle:before,
.fa-bar-chart:before,
.fa-line-chart:before,
.fa-cloud:before,
.fa-cubes:before,
.fa-leaf:before,
.fa-usd:before,
.fa-arrow-up:before {
	font-size: 36px;
}
/*==================  Marked List  ======================*/
* + .marked-list {
	margin-top: 24px;
}

.marked-list li {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	position: relative;
	padding-left: 46px;
	text-transform: capitalize;
	text-align: left;
}

	.marked-list li:before {
		content: '\f00c';
		position: absolute;
		left: 0;
		top: 0;
		font-weight: 400;
		font-size: 15px;
		font-family: 'FontAwesome';
		color: #24659A;
		-moz-transition: 0.3s;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}

	.marked-list li:hover:before {
		left: 2px;
	}

	.marked-list li a {
		font-size: 15px;
		font-weight: normal;
	}

	.marked-list li + li {
		margin-top: 28px;
	}

/*==================  Inline List  ======================*/
.inline-list li {
	display: inline-block;
	position: relative;
}

	.inline-list li a {
		color: #fff;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		width: 53px;
		height: 53px;
		display: block;
		border: 1px solid #383737;
		overflow: hidden;
		background: #383737;
		text-align: center;
	}

		.inline-list li a:after {
			content: "";
			background: #24659A;
			position: absolute;
			left: 50%;
			top: 50%;
			right: 50%;
			bottom: 50%;
			-moz-transition: 0.3s;
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
			z-index: 1;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
		}

		.inline-list li a:before {
			position: absolute;
			font-size: 30px;
			line-height: 53px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
		}

		.inline-list li a:hover {
			border: none;
		}

			.inline-list li a:hover:after {
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}

@media (max-width: 1199px) {
	.inline-list li > a {
		width: 38px;
		height: 38px;
	}

		.inline-list li > a:before {
			font-size: 16px;
			line-height: 38px;
		}
}


.inline-list li + li {
	margin-left: 9px;
}
/*==================   Copyright     ====================*/
.copyrights {
	display: inline-block;
	color: #4d5b64;
	font-size: 15px;
	position: relative;
	top: -14px;
	margin-left: 10px;
}
/*==================   Fm_video  =========================*/
.fw_video {
	margin-top: 46px;
	width: 100%;
	height: 323px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

	.fw_video iframe {
		position: relative;
		display: inline-block;
		outline: none;
		width: 100%;
		height: 100%;
		border: none;
		overflow: hidden;
	}
/*==================      HR   =========================*/
hr {
	border: none;
	height: 1px;
	width: 100%;
	background: #f7f7f7;
}

.term-list dd {
	margin-left: 0;
	color: #bfbfbf;
}

.term-list * + dt {
	margin-top: 45px;
}

.term-list dt + * {
	margin-top: 14px;
}

.term-list a[href^="mailto:"] {
	font-size: 14px;
	line-height: 24px;
	display: inline-block;
	color: #24659A;
	margin-top: 28px;
}

	.term-list a[href^="mailto:"]:hover {
		color: #464646;
	}

* + .term-list {
	margin-top: 38px;
}
/*========================================================
                     HEADER  Section
=========================================================*/
header {
	background: #ffffff;
}

	header .study-section {
		float: left;
	}

		header .study-section img {
			margin: 20px 0 0 30px;
			height: 64px;
		}


	header .login-container {
		float: right;
		margin-top: 25px;
	}

		header .login-container .notsigned {
			float: right;
		}

			header .login-container .notsigned .becomeagency {
				width: 220px;
			}

			header .login-container .notsigned #btnLogin {
				width: 112px;
			}

			header .login-container .notsigned .loginForm {
				width: 331px;
				top: 84px;
			}

		header .login-container .user-logout {
			float: right;
			width: 125px;
		}

		header .login-container .user-information {
			float: right;
			display: inline-block;
			text-decoration: none;
			color: #24659A;
			line-height: 1.5;
			padding: 15px 0;
			font-size: 1.75em;
			font-weight: 500;
		}

@media (max-width: 767px) {
	.btn {
		line-height: 23px;
		padding: 5px 10px;
	}

	header {
		text-align: center;
	}

		header .login-container,
		header .navbar-header {
			float: left;
			margin-bottom: 0;
		}

			header .navbar-header img {
				height: 40px;
			}

			header .login-container .user-information {
				line-height: 1.2;
				padding: 0 25px;
			}

			header .login-container .user-logout btn {
				width: 100px;
				font-size: 0.8em;
			}

			header .login-container .notsigned .loginForm {
				width: 382px;
				top: 84px;
				left: 50%;
				margin-left: -191px;
			}
}

@media (max-width: 1199px) {
	header .login-container {
		float: right;
		margin-top: 18px;
	}
}

#btnLogin {
	z-index: 1002;
}

.loginForm {
	display: none;
	z-index: 1002;
	position: absolute;
    
}

.lb-container {
	height: 300px;
	background-color: #24659A;
}

.lb-frame {
	width: 100%;
	height: 100%;
	border: none;
}

.lb-body {
	padding: 20px 0 0 20px;
	background-color: #24659A;
	color: white;
}

.container-login {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #24659A;
}

	.container-login h4 {
		margin-bottom: 20px;
	}

	.container-login .form-field {
		margin: 10px 0 20px;
	}

	.container-login .form-errorMessage {
		margin-top: -5px;
		padding-right: 10px;
		color: Yellow;
	}

	.container-login .has-error label {
		color: white;
	}

	.container-login .ForgotPassword {
		color: white;
	}

		.container-login .ForgotPassword:hover {
			color: white;
			text-decoration: underline;
		}

.lb-Close {
	position: absolute;
	top: 18px;
	right: 40px;
	padding: 1px 5px;
	font-size: 20px;
	line-height: 1.25;
	cursor: pointer;
	color: white;
}

	.lb-Close:hover {
		background-color: red;
	}

	.lb-Close img {
		margin-top: -7px;
		width: 16px;
		height: 16px;
		border: 0;
	}

/*========================================================
                     CONTENT  Section
=========================================================*/
@media (min-width: 768px) {
	.normal .contents {
		min-height: 500px;
		padding-bottom: 50px;
	}
}

.no-padding .col-xs-1, .no-padding .col-sm-1, .no-padding .col-md-1, .no-padding .col-lg-1,
.no-padding .col-xs-2, .no-padding .col-sm-2, .no-padding .col-md-2, .no-padding .col-lg-2,
.no-padding .col-xs-3, .no-padding .col-sm-3, .no-padding .col-md-3, .no-padding .col-lg-3,
.no-padding .col-xs-4, .no-padding .col-sm-4, .no-padding .col-md-4, .no-padding .col-lg-4,
.no-padding .col-xs-5, .no-padding .col-sm-5, .no-padding .col-md-5, .no-padding .col-lg-5,
.no-padding .col-xs-6, .no-padding .col-sm-6, .no-padding .col-md-6, .no-padding .col-lg-6,
.no-padding .col-xs-7, .no-padding .col-sm-7, .no-padding .col-md-7, .no-padding .col-lg-7,
.no-padding .col-xs-8, .no-padding .col-sm-8, .no-padding .col-md-8, .no-padding .col-lg-8,
.no-padding .col-xs-9, .no-padding .col-sm-9, .no-padding .col-md-9, .no-padding .col-lg-9,
.no-padding .col-xs-10, .no-padding .col-sm-10, .no-padding .col-md-10, .no-padding .col-lg-10,
.no-padding .col-xs-11, .no-padding .col-sm-11, .no-padding .col-md-11, .no-padding .col-lg-11,
.no-padding .col-xs-12, .no-padding .col-sm-12, .no-padding .col-md-12, .no-padding .col-lg-12 {
	padding-left: 0;
	padding-right: 0;
}

.no-padding-left .col-xs-1, .no-padding-left .col-sm-1, .no-padding-left .col-md-1, .no-padding-left .col-lg-1,
.no-padding-left .col-xs-2, .no-padding-left .col-sm-2, .no-padding-left .col-md-2, .no-padding-left .col-lg-2,
.no-padding-left .col-xs-3, .no-padding-left .col-sm-3, .no-padding-left .col-md-3, .no-padding-left .col-lg-3,
.no-padding-left .col-xs-4, .no-padding-left .col-sm-4, .no-padding-left .col-md-4, .no-padding-left .col-lg-4,
.no-padding-left .col-xs-5, .no-padding-left .col-sm-5, .no-padding-left .col-md-5, .no-padding-left .col-lg-5,
.no-padding-left .col-xs-6, .no-padding-left .col-sm-6, .no-padding-left .col-md-6, .no-padding-left .col-lg-6,
.no-padding-left .col-xs-7, .no-padding-left .col-sm-7, .no-padding-left .col-md-7, .no-padding-left .col-lg-7,
.no-padding-left .col-xs-8, .no-padding-left .col-sm-8, .no-padding-left .col-md-8, .no-padding-left .col-lg-8,
.no-padding-left .col-xs-9, .no-padding-left .col-sm-9, .no-padding-left .col-md-9, .no-padding-left .col-lg-9,
.no-padding-left .col-xs-10, .no-padding-left .col-sm-10, .no-padding-left .col-md-10, .no-padding-left .col-lg-10,
.no-padding-left .col-xs-11, .no-padding-left .col-sm-11, .no-padding-left .col-md-11, .no-padding-left .col-lg-11,
.no-padding-left .col-xs-12, .no-padding-left .col-sm-12, .no-padding-left .col-md-12, .no-padding-left .col-lg-12 {
	padding-left: 0;
}

.no-padding-right .col-xs-1, .no-padding-right .col-sm-1, .no-padding-right .col-md-1, .no-padding-right .col-lg-1,
.no-padding-right .col-xs-2, .no-padding-right .col-sm-2, .no-padding-right .col-md-2, .no-padding-right .col-lg-2,
.no-padding-right .col-xs-3, .no-padding-right .col-sm-3, .no-padding-right .col-md-3, .no-padding-right .col-lg-3,
.no-padding-right .col-xs-4, .no-padding-right .col-sm-4, .no-padding-right .col-md-4, .no-padding-right .col-lg-4,
.no-padding-right .col-xs-5, .no-padding-right .col-sm-5, .no-padding-right .col-md-5, .no-padding-right .col-lg-5,
.no-padding-right .col-xs-6, .no-padding-right .col-sm-6, .no-padding-right .col-md-6, .no-padding-right .col-lg-6,
.no-padding-right .col-xs-7, .no-padding-right .col-sm-7, .no-padding-right .col-md-7, .no-padding-right .col-lg-7,
.no-padding-right .col-xs-8, .no-padding-right .col-sm-8, .no-padding-right .col-md-8, .no-padding-right .col-lg-8,
.no-padding-right .col-xs-9, .no-padding-right .col-sm-9, .no-padding-right .col-md-9, .no-padding-right .col-lg-9,
.no-padding-right .col-xs-10, .no-padding-right .col-sm-10, .no-padding-right .col-md-10, .no-padding-right .col-lg-10,
.no-padding-right .col-xs-11, .no-padding-right .col-sm-11, .no-padding-right .col-md-11, .no-padding-right .col-lg-11,
.no-padding-right .col-xs-12, .no-padding-right .col-sm-12, .no-padding-right .col-md-12, .no-padding-right .col-lg-12 {
	padding-right: 0;
}

.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover {
	background-color: #ccc !important;
	border-color: #ccc !important;
	color: white;
}

input[type=checkbox]:not(old),
input[type=radio ]:not(old) {
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	/*opacity: 0;*/
}

	input[type=checkbox]:not(old) + input + label,
	input[type=radio]:not(old) + label {
		display: inline-block;
		margin-left: -2em;
		line-height: 1em;
		font-weight: normal;
	}

		input[type=radio]:not(old) + label > span,
		input[type=checkbox]:not(old) + input + label > span {
			display: inline-block;
			width: 1em;
			height: 1em;
			margin: 0.25em 0.5em 0 0.25em;
			border: 0.0625em solid rgb(192,192,192);
			border-radius: 0.25em;
			background: rgb(255,255,255);
			background-image: -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
			background-image: -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
			background-image: -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
			background-image: -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
			background-image: linear-gradient(rgb(255,255,255),rgb(255,255,255));
			vertical-align: bottom;
		}

		input[type=radio]:not(old) + label > span {
			border-radius: 0.5em;
		}

	input[type=checkbox]:not(old):checked + input + label > span:before {
		content: '✓';
		display: block;
		width: 1em;
		color: rgb(24, 137, 167);
		font-size: 0.875em;
		line-height: 1em;
		text-align: center;
		text-shadow: 0 0 0.0714em rgb(22, 107, 131);
		font-weight: bold;
	}

	input[type=radio]:not(old):checked + label > span > span {
		display: block;
		width: 0.6em;
		height: 0.6em;
		margin: 0.15em;
		border: 0.0625em solid rgb(22, 107, 131);
		border-radius: 0.3em;
		background: rgb(24, 137, 167);
		background-image: -moz-linear-gradient(rgb(55, 185, 221),rgb(24, 137, 167));
		background-image: -ms-linear-gradient(rgb(55, 185, 221),rgb(24, 137, 167));
		background-image: -o-linear-gradient(rgb(55, 185, 221),rgb(24, 137, 167));
		background-image: -webkit-linear-gradient(rgb(55, 185, 221),rgb(24, 137, 167));
		background-image: linear-gradient(rgb(55, 185, 221),rgb(24, 137, 167));
	}

.featured {
	background-color: #fff;
}

	.featured .content-wrapper {
		background-color: #ccc;
		background-image: -ms-linear-gradient(left, #ccc 0%, #ddd 100%);
		background-image: -o-linear-gradient(left, #ccc 0%, #ddd 100%);
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ccc), color-stop(1, #ddd));
		background-image: -webkit-linear-gradient(left, #ccc 0%, #ddd 100%);
		background-image: linear-gradient(left, #ccc 0%, #ddd 100%);
		color: #00376B;
		padding: 30px 40px;
	}

		.featured .content-wrapper h1 {
			display: inline;
			text-transform: uppercase;
			font-family: 'Orbitron', sans-serif;
			font-weight: 500;
			color: Chocolate;
			letter-spacing: 2px;
		}

	.featured hgroup.title h2 {
		color: #fff;
	}

	.featured p {
		font-size: 1.1em;
	}

/* features */
section.feature {
	width: 300px;
	float: left;
	padding: 10px;
}

.catchphrase {
}

	.catchphrase .pageMessageBoard {
		background: url('../Images/pageMessageBoard.jpg') no-repeat bottom center;
	}

	.catchphrase .pageContact {
		background: url('../Images/pageContact.jpg') no-repeat bottom center;
	}

	.catchphrase .pageHome {
		background: url('../Images/PageInformationSystem.jpg') no-repeat bottom center;
	}

	.catchphrase .pageBecomeAnAgency {
		background: url('../Images/PageBecomeAMember.jpg') no-repeat bottom center;
	}

	.catchphrase .pageStudents {
		background: url('../Images/PageStudents.jpg') no-repeat bottom center;
	}

	.catchphrase .pageDocuments {
		background: url('../Images/pageDocuments.jpg') no-repeat bottom center;
	}

	.catchphrase .pageProfile {
		background: url('../Images/pageProfile.jpg') no-repeat bottom center;
	}

	.catchphrase .pageAccount {
		background: url('../Images/pageAccount1.jpg') no-repeat bottom center;
	}

	.catchphrase .pageError {
		background: url('../Images/pageError.jpg') no-repeat bottom center;
	}

	.catchphrase .catchphrase-contents {
		background-size: 100% auto;
	}

	.catchphrase .catchphrase-message {
		height: 200px;
		vertical-align: bottom;
	}

	.catchphrase .catchphrase-header {
		background-color: Chocolate;
		opacity: 0.85;
	}

		.catchphrase .catchphrase-header .container .text-pagetitle {
			color: white;
			padding: 0.6em 0;
		}

			.catchphrase .catchphrase-header .container .text-pagetitle h1 {
				display: inline;
				text-transform: uppercase;
				font-family: 'Orbitron', sans-serif;
				font-weight: 500;
				color: white;
				letter-spacing: 2px;
			}

		.catchphrase .catchphrase-header .text-link {
			padding-top: 11px;
			text-decoration: none;
			color: white;
		}

			.catchphrase .catchphrase-header .text-link a {
				color: white;
			}

			.catchphrase .catchphrase-header .text-link:hover a {
				text-decoration: underline;
			}

.contents {
	padding-bottom: 50px;
}

	.contents .orange {
		font-style: italic;
		color: #ffcc00;
	}

	.contents .text-secondary {
		color: #bf9d5e;
		font-weight: bold;
	}

	.contents table {
		width: 100%;
		max-width: none;
		border-collapse: separate;
		border-spacing: 0;
		empty-cells: show;
		border-width: 0;
		border-radius: 0;
		outline: 0;
		font-size: 12px;
	}

		.contents table:not(.contactdetail):not(.modal-table) tr:nth-child(odd) td {
			background: #f3f3f3;
		}

		.contents table:not(.contactdetail):not(.modal-table) tr:hover:not(.noHoverBgColor) td {
			background: OldLace;
		}

	.contents .form-message {
		margin: 20px 0 70px;
	}

	.contents .btn {
		line-height: 24px;
		border-radius: 5px;
		min-width: 110px;
		text-align: center;
	}

	.contents .btn-xs {
		margin: 0 5px;
		padding: 3px 7px;
		line-height: 12px;
		border-radius: 5px;
		min-width: 70px;
		font-size: 12px !important;
		text-decoration: none !important;
		white-space: nowrap;
		cursor: pointer;
	}

	.contents .modal .btn {
		margin-top: 3px;
	}

	.contents input[type=submit] {
		margin-left: 20px;
	}

	.contents .k-grid {
		font-size: 12px;
		border-radius: 0;
	}

		.contents .k-grid .k-grid-header {
			border-bottom: none;
		}

			.contents .k-grid .k-grid-header th.k-header {
				background: SlateGray;
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
			}

				.contents .k-grid .k-grid-header th.k-header > .k-link {
					min-height: 22px;
					line-height: 22px;
					color: #f7f7f7;
				}

				.contents .k-grid .k-grid-header th.k-header:first-child,
				.contents .k-grid .k-grid-header th.k-header:last-child {
					border-radius: 0;
				}


			.contents .k-grid .k-grid-header th > .k-link > .k-icon {
				vertical-align: text-bottom !important;
			}

		.contents .k-grid .k-state-focused {
			webkit-box-shadow: none;
			box-shadow: none;
		}

		.contents .k-grid .k-state-selected {
		}

			.contents .k-grid .k-state-selected td:not(.AdditionalInfo):not(:first-child):not(:Last-child) {
				border-top: 2px solid #3276b1;
				border-bottom: 2px solid #3276b1;
				color: #333;
			}

			.contents .k-grid .k-state-selected td:first-child:not(.AdditionalInfo) {
				border: 2px solid #3276b1;
				border-right: 1px solid #ccc;
				color: #333;
			}

			.contents .k-grid .k-state-selected td:last-child:not(.AdditionalInfo) {
				border: 2px solid #3276b1;
				border-left: 1px solid #ccc;
				color: #333;
			}

		.contents .k-grid tr:nth-child(odd) {
			background-color: #fff;
		}

		.contents .k-grid tr:nth-child(even) {
			background-color: #f7f7f7;
		}

		.contents .k-grid .k-loading-mask,
		.contents .k-grid .k-loading-image {
			display: none;
		}

		.contents .k-grid .text-primary span.fa,
		.contents .k-grid .text-warning span.fa,
		.contents .k-grid .text-wrap span.fa {
			font-size: 14px;
		}

		.contents .k-grid tbody a:hover,
		.contents .table-container tbody a:hover {
			text-decoration: underline;
		}

		.contents .k-grid .btn-toggle {
			cursor: pointer;
		}

		.contents .k-grid .AdditionalInfo {
			padding: 20px 60px 20px 30px;
		}

			.contents .k-grid .AdditionalInfo .firstline {
				margin-bottom: 10px;
				padding-bottom: 10px;
				font-size: 15px;
				font-weight: bold;
				border-bottom: 1px solid #ccc;
			}

				.contents .k-grid .AdditionalInfo .firstline a {
					text-decoration: none;
				}

				.contents .k-grid .AdditionalInfo .firstline span {
					font-size: 13px;
				}

			.contents .k-grid .AdditionalInfo .secondline {
				font-size: 13px;
				font-weight: bold;
			}

				.contents .k-grid .AdditionalInfo .secondline > div {
					padding: 5px 0;
				}

				.contents .k-grid .AdditionalInfo .secondline span {
					font-weight: normal;
				}

		.contents .k-grid .k-dropdown-wrap {
			height: 28px;
			margin-top: 1px;
		}

.main-content {
	background: url("../Images/heroAccent.png") no-repeat;
	padding: 50px 30px 30px 30px;
}

	.main-content .info-container {
		border: 1px solid #ccc;
	}

		.main-content .info-container td {
			padding: 3px 5px;
		}

			.main-content .info-container td:first-child {
				white-space: nowrap;
			}

		.main-content .info-container tr:not(:last-child) td {
			border-bottom: 1px solid #ccc;
		}

		.main-content .info-container td:not(:last-child) {
			border-right: 1px solid #ccc;
		}

		.main-content .info-container td:nth-child(odd) {
			background: #f3f3f3;
			font-weight: bold;
			color: #24659A;
		}

		.main-content .info-container td:nth-child(even) {
			background: #fafafa;
		}

	.main-content .table-container {
		border: 1px solid #ccc;
	}

		.main-content .table-container th {
			background: SlateGray;
			color: #f7f7f7;
			text-transform: uppercase;
		}

		.main-content .table-container th,
		.main-content .table-container td {
			padding: 3px 5px;
		}

			.main-content .table-container td:first-child {
				white-space: nowrap;
			}

		.main-content .table-container tr:not(:last-child) td {
			border-bottom: 1px solid #ccc;
		}

		.main-content .table-container th:not(:last-child),
		.main-content .table-container td:not(:last-child) {
			border-right: 1px solid #ccc;
		}

	.main-content .sub-title {
		margin-bottom: 10px;
		height: 34px;
		background: #4682B4;
		background: -webkit-linear-gradient(#4682B4,#24659A);
		background: -o-linear-gradient(#4682B4,#24659A);
		background: -moz-linear-gradient(#4682B4,#24659A);
		background: linear-gradient(#4682B4,#24659A);
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		padding: 3px 15px;
		letter-spacing: 2px;
	}

		.main-content .sub-title h2 {
			float: left;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			color: #fff;
			padding: 5px 0;
		}

	.main-content .branch:not(:last-child) {
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
	}

	.main-content .branch .text-branch {
		padding-top: 5px;
		height: 32px;
		background: #ccc;
		font-weight: bold;
	}

	.main-content .questionaire .control-label {
		margin-top: 0;
	}

	.main-content .questionaire input[type=radio]:not(old) + label {
		margin-left: 0;
	}

	.main-content .k-grid-header th.k-header > .k-link {
		padding: .3em .6em .3em .6em;
	}

	.main-content .k-grid td {
		padding: .2em .6em;
	}

	.main-content .btn-primary {
		margin-left: 20px;
	}

.info-container {
}

	.info-container .form-group {
		min-height: 17px;
	}

.agentlist-container {
	margin-top: 10px;
}

.table-container {
	margin-bottom: 10px;
}

#contactForm {
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
}

#ContactDetailListView {
	margin-top: 30px;
}

	#ContactDetailListView .contactdetail {
	}

		#ContactDetailListView .contactdetail .contact-headline {
			background: Bisque;
			border-bottom: 1px solid #eee;
			padding: 5px 15px;
		}

		#ContactDetailListView .contactdetail .contact-subject {
			padding-top: 10px;
		}

		#ContactDetailListView .contactdetail .text-to {
			color: Orange;
			font-weight: bold;
		}

		#ContactDetailListView .contactdetail .text-from {
			color: #24659A;
			font-weight: bold;
		}

		#ContactDetailListView .contactdetail .text-content {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		#ContactDetailListView .contactdetail:not(:last-child) {
			border-bottom: 3px double #ccc;
		}

		#ContactDetailListView .contactdetail:hover {
			background: OldLace;
		}

#Transcript {
}

	#Transcript h1 {
		font-size: 18pt;
		font-weight: bold;
	}

	#Transcript img {
		height: 42px;
	}

	#Transcript td {
		font-size: 8pt;
		color: black;
		padding: 0;
	}

	#Transcript .td_student_name {
		font-weight: bold;
		font-size: 12pt;
		color: #417AB3;
	}

	#Transcript .td_session_title {
		font-weight: bold;
		font-size: 9pt;
		color: #417AB3;
	}

	#Transcript .style1 {
		font-weight: bold;
		font-size: 12pt;
		color: #417AB3;
		font-style: normal;
		font-family: Verdana, sans-serif;
	}

	#Transcript .style3 {
		font-size: 9px;
	}

	#Transcript .default {
		font-weight: bold;
		font-size: 11px;
		color: #666;
		font-style: normal;
		font-family: Verdana, sans-serif;
	}

	#Transcript .default_small {
		font-weight: bold;
		font-size: 10px;
		color: #417AB3;
		font-style: normal;
		font-family: Verdana, sans-serif;
	}

	#Transcript .td_special {
		color: #4C7CCD;
		font-weight: bold;
		font-style: italic;
	}

	#Transcript .chart-container {
		padding-left: 15px;
	}

		#Transcript .chart-container table {
			width: 75%;
		}

	#Transcript .session-container {
		border-top: 1px solid #ccc;
	}

		#Transcript .session-container th:not(:last-child),
		#Transcript .session-container td:not(:last-child) {
			border-right: 1px solid #ccc;
		}

		#Transcript .session-container th,
		#Transcript .session-container td {
			border-bottom: 1px solid #ccc;
		}

.modal-body {
}

	.modal-body table {
		width: 100%;
	}

	.modal-body .text-danger .btn,
	.modal-body .text-info .btn {
		margin-top: 30px;
		margin-left: 20px;
		line-height: 28px;
		border-radius: 5px;
		text-align: center;
	}

select {
	line-height: 1.64285714;
	height: 30px;
	width: 100%;
	padding-left: .8em;
	padding-right: 18px;
	color: #464646;
	background: url('../images/select_arrow.png') no-repeat right center #ffffff !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-size: 16px !important;
	border: 1px solid #cccccc;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

	select::-ms-expand {
		display: none;
	}

	select[disabled],
	select[disabled]:hover {
		background-color: #f5f5f5 !important;
		border-color: #ccc !important;
	}

@media (max-width: 1199px) {
	.contents .search-container .search .col-xs-1 {
		padding-left: 0;
	}
}

#detailsDiv {
	padding: 10px;
	max-height: 690px;
	overflow: auto;
}

.pricing-container, .loanlist-container {
	float: left;
	width: 100%;
	margin-top: 20px;
}

.loanlist-container, .loanlist-list {
	float: left;
	width: 100%;
}

.k-popup {
}

	.k-popup .k-first {
		border-top: 1px solid #aeaeae;
	}

.msg-popupblocked {
	margin-top: 40px;
	display: none;
}

	.msg-popupblocked .text-info {
		padding: 20px;
		border: 1px solid #ffeb8e;
		background-color: Cornsilk;
	}

		.msg-popupblocked .text-info .instruction {
			margin-top: 30px;
			padding-top: 30px;
			border-top: 3px double #ccc;
		}

		.msg-popupblocked .text-info ul {
			margin-top: 10px;
		}

			.msg-popupblocked .text-info ul li {
				list-style: decimal;
				margin-left: 30px;
				line-height: 28px;
			}

@media (max-width: 767px) {
	.pricinglist-container,
	.loanlist-container, .loanlist-list {
		overflow-x: scroll;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.pricinglist-container,
	.loanlist-container, .loanlist-list {
		overflow-x: scroll;
	}
}
/*==================    404    =========================*/
/*==================    404    =========================*/
.page404 {
	padding-top: 91px;
	background: white;
}

	.page404 .mg-add {
		margin-top: 20px;
	}

	.page404 * + p {
		margin-top: 30px;
	}
/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
	clear: both;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #f7f7f7;
}

	footer .address-container {
		background: #424242;
		padding: 50px;
	}

		footer .address-container .school-container h3 {
			font-weight: 600;
		}

		footer .address-container .school-container hr {
			background: #777;
		}

		footer .address-container .school-container ul li {
			font-size: 0.9em;
		}

		footer .address-container .fa {
			color: #008080;
		}

		footer .address-container .fa-external-link {
			width: 30px;
			color: #777;
		}

		footer .address-container .logo-cea {
		}

			footer .address-container .logo-cea img {
				max-width: 195px;
			}

	footer .copyright-container {
		background: #202020;
		padding: 20px;
		font-size: 0.9em;
	}

	footer ul li {
	}

		footer ul li + li {
			margin-top: 15px;
		}

* + footer ul {
	margin-top: 25px;
}

@media (max-width: 767px) {
	footer {
		text-align: center;
	}

		footer .marked-list {
			max-width: 270px;
			margin: 0 auto;
		}

		footer .address-container .logo-cea img {
			max-width: 100%;
		}
}

@media (max-width:1024px) {
	.navbar-header img {
		height: 70px;
		margin: 15px 0;
	}

	footer .address-container .logo-cea img {
		max-width: 100%;
	}
}


footer .social-icons {
	margin-top: 20px;
}

	footer .social-icons li > a {
		width: 42px;
		height: 42px;
	}

	footer .social-icons li a:before {
		position: absolute;
		font-size: 22px;
		line-height: 42px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}

	footer .social-icons li a.fa-linkedin:before,
	footer .social-icons li a.fa-envelope-o:before {
		top: -1px;
		left: 2px;
	}

	footer .social-icons li a.fa-facebook:after {
		background-color: #3b5998;
	}

	footer .social-icons li a.fa-twitter:after {
		background-color: #00aced;
	}

	footer .social-icons li a.fa-google-plus:after {
		background-color: #dd4b39;
	}

	footer .social-icons li a.fa-facebook:after {
		background-color: #0077b5;
	}

	footer .social-icons li a.fa-envelope-o:after {
		background-color: #fa7b20;
	}

#mask, #canvasloader-mask {
	z-index: 1001;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #777;
	filter: alpha(opacity=70);
	opacity: 0.7;
	display: none;
}

.msg-processing {
	position: absolute;
	font-size: 18px;
	width: 150px;
	color: OldLace;
	top: 60px;
	left: -25px;
}
/*========================================================
                     Session Timeout Section
=========================================================*/
#sessionTimeout {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 450px;
	height: 220px;
	margin-top: -110px;
	margin-left: -225px;
	padding: 30px 50px;
	z-index: 2003;
	display: none;
	font-size: 1em;
	background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #dddddd 0%,#ffffff 100%);
	background: -o-linear-gradient(top, #dddddd 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #dddddd 0%,#ffffff 100%);
	background: linear-gradient(top, #dddddd 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 );
}

	#sessionTimeout .timeoutPrompt {
		margin: auto;
		position: relative;
	}

		#sessionTimeout .timeoutPrompt h3,
		#sessionTimeout .timeoutPrompt p {
			margin-top: 5px;
			padding-right: 20px;
			font-size: 1em;
		}

		#sessionTimeout .timeoutPrompt h3 {
			font-size: 1.2em;
			font-weight: 600;
			color: #24659A;
		}

		#sessionTimeout .timeoutPrompt .timeout-icon,
		#sessionTimeout .timeoutPrompt .timeout-text {
			float: left;
		}

		#sessionTimeout .timeoutPrompt .timeout-icon {
			font-size: 3em;
			width: 60px;
		}

		#sessionTimeout .timeoutPrompt span.time {
			font-weight: bold;
			color: #dc1431;
		}

		#sessionTimeout .timeoutPrompt .logoutActions {
			float: left;
			margin-left: -5px;
			margin-bottom: 15px;
		}

			#sessionTimeout .timeoutPrompt .logoutActions .btn-xs {
				float: right;
				font-size: 0.9em;
				padding: 5px 15px;
				margin-top: 20px;
				border-radius: 5px;
				line-height: 20px;
				border-radius: 5px;
			}

			#sessionTimeout .timeoutPrompt .logoutActions .btn-warning {
				margin-left: 20px;
				margin-right: 20px;
			}

@media (max-device-width : 1024px) {
	#sessionTimeout .timeoutPrompt .logoutActions {
		margin-top: 15px;
	}
}

.k-upload .k-upload-selected {
	display: none;
}

.k-upload ul {
	margin: 10px;
}

	.k-upload ul li {
		list-style: none;
	}
